.nav{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 45px;
}
.image{
    display: flex;
    align-items: center;
}
.midSection{
    display: flex;
    gap: 95px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}
.midSection p{
    cursor: pointer;
    font-size: larger;
    color: #4d4d4d;
}
.midSection > p:hover{
    color: #5cb30b;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.loginBtn{
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.loginBtn a{
    color: #5cb30b;
    text-decoration: none;
}
.signupBtn a{
    text-decoration: none;
    color: #fff;
}

@media only screen and (max-width: 728px) {

    .btn{
        flex-direction: column;
    }
    .btn p{
        font-weight: bolder;
    }
    .nav{
        justify-content: space-between;
    }
    .nav{
        background: #f6fbf1;
        padding: 5px;
    }
    .hamburger {
        display: block;
    }
    .midSection {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        margin-bottom: 20px;
    }

    .mobileMenu{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 60px;
        right: 10px;
        background-color: #f6fbf1;
        box-shadow: 2px 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 110px;
        padding: 10px;
        border-radius: 5px;
    }
}