.nav{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 45px;
}
.image{
    display: flex;
    align-items: center;
}
.midSection{
    display: flex;
    gap: 95px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}
.midSection p{
    cursor: pointer;
    font-size: larger;
    color: #4d4d4d;
}
.midSection > p:hover{
    color: #5cb30b;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.loginBtn{
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.loginBtn a{
    color: #5cb30b;
    text-decoration: none;
}
.signupBtn a{
    text-decoration: none;
    color: #fff;
}

@media only screen and (max-width: 728px) {
    .midSection{
        display: none;
    }
    .btn{
        display: none;
    }
    .nav{
        justify-content: right;
    }
    .nav{
        background: #f6fbf1;
        padding: 5px;
    }
}