*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
.container{
    display: flex;
    align-items: center;
    text-align: center;
}
.container p{
    margin-bottom: 30px;
}
/*.container img{*/
/*    height: 680px;*/
/*}*/
.image{
    width: 50%;
}
.heroText{
    width: 50%;
}
.holder{
    width: 60%;
    padding: 10px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: medium;
    border: 1px solid grey;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn{
    background: #55229e;
    width: 60%;
    padding: 10px 10px;
    cursor: pointer;
    color: white;
    font-size: medium;
    border: none;
    border-radius: 5px;
    font-family: "Comic Sans MS";
}
.error{
    padding:0;
    color:red;
    font-size: 0.875em;
}
.toggleButton {
    position: absolute;
    right: 10%;
    top: 64%;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.aboveButton{
    display: flex;
    justify-content: space-evenly;
    color: #cbcbcb;
}
.loginAboveButton{
    display: flex;
    justify-content: space-evenly;
}
.remember{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.remember img{
    width: 5px;
}