.content {
    position: absolute;
    top: 35%;
    left: 75%;
    transform: translate(-50%, -20%);
    color: #4d4d4d;
}
.btn{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 15px 15px 15px 0px;
}
.signupBtn{
    padding: 15px;
    border-radius: 8px;
    background: #5cb30b;
    color: #fff;
    border: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.signupBtn a{
    text-decoration: none;
    color: #fff;
}

@media only screen and (max-width: 728px){
    .hero {
        justify-content: center;
        align-items: center;
    }

    .hero img {
        display: none;
    }

    .content {
        position: static;
        transform: none;
        /*width: 100%;*/
        text-align: center;
        padding: 20px;
    }
    .btn{
        justify-content: center;
        align-items: center;
    }
}