.section2{
    justify-content: center;
    display: flex;
    gap: 80px;
    padding: 5%;
}
.section2 table {
    width: 50%;
    min-width: 400px;
}
.section2 thead tr {
    color: #4d4d4d;
    text-align: left;
}
.section2 th, td {
    padding: 12px 15px;
}
.section2 tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

@media only screen and (max-width: 728px){
    .section2 {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .section2 img{
        width: 100%;
    }
    .section2 th, .section2 td {
        padding: 8px 30px;
    }
    .section2 table{
        min-width: 100%;
    }
}